$dark-blue: #274c5b;
$green: #7eb693;
$light-green: #eff6f1;
$golden: #efd372;
$background: #f9f8f8;
$dark-grey: #525c60;
$grey: #f1f1f1;
$medium-grey: #ececec;
$background-grey: #dedddd;
$border-grey: #d4d4d4;
