$dark-blue: #274c5b;
$green: #7eb693;
$light-green: #eff6f1;
$golden: #efd372;
$background: #fff;
$dark-grey: #525c60;
$grey: #f1f1f1;
$medium-grey: #ececec;
$background-grey: #dedddd;
$light-grey: #f9f8f8;
$border-grey: #d4d4d4;
$input: #fafafa;
$background-light: #F1F8F4;
$snowy: #fff;

$page-width: 1900px;
$page-medium: 1660px;
$header-width: 1595px;
$laptop-width: 1440px;
$content-width: 1400px;
$content-laptop-width: 1200px;
$content-small: 780px;
$content-heading: 700px;