$dark-blue: #274c5b;
$green: #7eb693;
$light-green: #eff6f1;
$golden: #efd372;
$background: #fff;
$dark-grey: #525c60;
$grey: #f1f1f1;
$medium-grey: #ececec;
$background-grey: #dedddd;
$light-grey: #f9f8f8;
$border-grey: #d4d4d4;
$input: #fafafa;
$snowy: #fff;

$page-width: 1900px;
$header-width: 1595px;
$content-width: 1400px;

$laptop-width: 1440px;

// $tablet-width: 768px;
// $mobile-big-width: 414px;
// $mobile-small-width: 320px;