$dark-blue: #274c5b;
$green: #7eb693;
$light-green: #eff6f1;
$golden: #efd372;
$background: #fff;
$dark-grey: #525c60;
$grey: #f1f1f1;
$medium-grey: #ececec;
$price-grey: #b8b8b8;
$background-grey: #dedddd;
$light-grey: #f9f8f8;
$border-grey: #d4d4d4;
$input: #fafafa;
$input-second: #ababab;
$background-light: #f1f8f4;
$snowy: #fff;
$quote: #f1edea;

$page-width: 1900px;
$content-width: 1400px;

$laptop-width: 1440px;
$content-laptop-width: 1200px;

$input-block: 1185px;
$input-block-laptop: 900px;

$page-medium: 1660px;
$header-width: 1595px;
$content-small: 780px;
$content-heading: 700px;
