.heading__container {
	display: flex;
	flex-direction: column;
	max-width: $laptop-width;
	align-items: center;
}

.align-start {
	align-items: flex-start;
	max-width: $content-heading;
}

.categories__title__sub_white {
	color: $snowy;
	margin: 0;
}

.categories__title__light {
	color: $snowy;
}
