@import '../abstract/variables';

.banner_large {
	position: relative;

	.banner_large__img {
		width: 100%;
		height: auto;
	}

	.banner_large__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 1;
	}

	.banner_large__content {
		position: absolute;
		top: 27%;
		left: 14%;
		max-width: 30%;
		z-index: 2;
	}

	h1 {
		margin-top: 8px;
		margin-bottom: 23px;
	}
}

