@import '../abstract/variables';

.footer__container {
	display: flex;
	justify-content: center;
	max-width: $header-width;
	margin: 50px auto 30px;

	&__contacts,
	&__socials,
	&__pages {
		flex: 1;
		position: relative;
	}

	&__socials::before,
	&__socials::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		background-color: $border-grey;
	}

	&__socials::before {
		right: 0;
	}

	&__socials::after {
		left: 0;
	}

	.footer__contacts {
		margin-right: 50px;
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: space-evenly;
		max-width: 285px;

		&-info {
			display: flex;
			flex-direction: column;
			align-items: end;

			&_item {
				text-align: right;
			}

			&__title {
				color: $dark-blue;
				@include font($size: 1.5rem, $height: 2.9rem, $weight: 700);
				@extend %font-title;
			}

			&__title:first-child {
				margin-top: 15px;
			}
		}

		&-info__title:not(:first-child) {
			margin-top: 20px;
		}
	}

	.footer__socials {
		display: flex;
		flex: 2;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		max-width: 540px;

		&-text {
			margin: 23px 40px 40px;
			text-align: center;
			@include font($size: 1.8rem, $height: 2.9rem, $weight: 400);
			@extend %font-text;
			@include media-laptop {
				@include font($size: 1.2rem, $height: 2.5rem, $weight: 400);
			}
		}
	}

	.footer__pages {
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		max-width: 285px;

		&-list {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 25px;
		}
	}
}
