@import '../abstract/variables';

.header {
	margin: 0 auto;
	margin: 69px 80px;
	max-width: $header-width;

	.header__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		align-items: center;

		img {
			margin-right: 10px;
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;

		span {
			display: inline-block;
			margin-right: 20px;
			color: $dark-blue;
			@include font($size: 20px, $weight: 700, $height: 23px);
			@extend %font-title;
		}
	}

	&__cart {
		display: flex;
		align-items: center;

		.input__container {
			position: relative;
			display: inline-block;
			margin-right: 15px;

			input {
				min-height: 66px;
				min-width: 250px;
				padding-left: 30px;
				border: 1px solid $input;
				border-radius: 35px;
				background-color: $input;
			}
			
			img {
				position: absolute;
				right: 5px;
				top: 5px;
				max-width: 56px;
				max-height: 56px;
			}
		}

		.header__cart-block {
			display: flex;
			align-items: center;
			border: 1px solid $border-grey;
			border-radius: 35px;
			background-color: $input;
			min-height: 66px;
			min-width: 160px;

			img {
				padding-left: 5px;
				padding-right: 12px;
			}

			span {
				color: $dark-blue;
				@include font($size: 18px, $weight: 600, $height: 21px);
				@extend %font-title;
			}
		}
	}
}
