.subscribe {
	position: relative;
	width: 100%;
	height: 100vh;

	@include media-laptop {
		width: $content-laptop-width;
		margin: 0 auto;
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		& img {
			@include media-laptop {
				width: $content-laptop-width;
			}
		}
	}

	&__container {
		position: absolute;
		top: 50%;
		left: 65%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: row;
		align-items: center;

		@include media-laptop {
			top: 48%;
			left: 69%;
		}

		input {
			min-width: 250px;
			margin-right: 7px;
			padding: 20px;
			border: 1px solid $input;
			border-radius: 18px;
			background-color: $input;
		}
	}

	&__title {
		max-width: 360px;
		position: absolute;
		top: 50%;
		left: 25%;
		transform: translate(-50%, -50%);
		color: $snowy;

		@include media-laptop {
			left: 15%;
			max-width: 250px;
			@include font($size: 3.5rem, $height: 5rem, $weight: 700);
		}
	}
}
