@import '../../abstract/variables';

.categories__products {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	.product-item {
		padding: 30px;
		border: 1px solid $border-grey;
		border-radius: 30px;
		background-color: $snowy;
		max-width: 335px;
	
		.product-item__img {
			width: 100%;
			max-height: 265px;
		}
	}
}