@import '../../abstract/variables';

.product-info {
	&__title {
		color: $dark-blue;
		@include font($size: 2rem, $height: 2.3rem, $weight: 700);
		@extend %font-title;
	}

	&__content {
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__content::before {
		content: '';
		display: block;
		height: 1.5px;
		width: 100%;
		background-color: $border-grey; /* Цвет полосы (замените на нужный цвет) */
		margin: 10px 0;
	}

	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__price_crossed-out {
		margin-right: -50px;
		display: inline-block;
		color: $dark-grey;
		text-decoration: line-through;
		@include font($size: 1.5rem, $height: 2rem, $weight: 600);
		@extend %font-text;
	}
	&__price_new {
		display: inline-block;
		color: $dark-blue;
		@include font($size: 1.8rem, $height: 2.4rem, $weight: 700);
		@extend %font-text;
	}
}
